*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: auto;
    background: -moz-linear-gradient(top, #0079b1, #039790);
    background: -webkit-linear-gradient(top, #740000, #0068c9);
    background: linear-gradient(to top, #520101, #00abdf);
}

h1 {
    background-color: rgb(6, 176, 255);
    color: rgb(0, 0, 0);
    font-size: 65px;
    text-align: center;
}


